site_name: Kay McNulty - MEPA

site_description: Documentação da Análise de Qualidade sobre o MEPA
repo_url: https://github.com/FCTE-Qualidade-de-Software-1/2025-2_T01_KAY-McNULTY

nav:
  - Geral: 
    - Home: index.md
    - Fase 1: fase1.md
    - Fase 2: fase2.md
    - Fase 3: fase3.md
    - Fase 4:
      - Visão Geral: fase4.md
      - Adequação Funcional:
        - Relatório: fase4/adequacao-funcional/relatorio.md
        - Casos de Teste: fase4/adequacao-funcional/casos-de-teste.md
      - Manutenibilidade: fase4/manutenibilidade.md


theme:
  name: material
  language: pt
  logo: ./images/logo.png
  favicon: ./images/logo.png
  palette:

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - content.code.copy
    - toc.integrate
  extra:
    social:
      - icon: fontawesome/brands/github
        link: https://github.com/FCTE-Qualidade-de-Software-1/2025-2_T01_KAY-McNULTY

markdown_extensions:
  - attr_list
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css
  - https://unpkg.com/katex@0/dist/katex.min.css
  - css/custom.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js
  - js/lightbox-init.js
  - js/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

